extends layout

block content
    h1 #{title}
    if points.length >= 1
        each route, i in routes
            br
            .card
                .card-header
                    | #{route.name}
                .card-body
                    table.table
                        thead
                            tr
                                th Latitude
                                th Longitude
                        tbody
                            each point, i in points
                                if point.route == route.id
                                    tr
                                        td= point.latitude
                                        td= point.longitude
                    .btn-toolbar
                        button.btn.btn-danger(type='button' style='') Delete
                        form(method='GET', action='/points/show_route/{{route.id}}')
                            input(type='hidden' name='route' value=route.id)
                            button.btn.btn-primary(type='submit') Show
    else
        br
        h4(style='text-align:center') You haven't added routes yet.